version: '3.1'
services:
  database:
    image: postgres:14
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST: postgres
    volumes:
      - ./postgres:/var/lib/postgresql/data
  keycloak:
    image: quay.io/keycloak/keycloak:21.0
    ports:
      - 8085:8085
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB_URL: "jdbc:postgresql://database/postgres"
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
      KC_DB: postgres
    command: ["start-dev --http-port=8085"]
    depends_on:
      - database
  unicorn:
    build: ./ui/unicorn
    ports:
      - 3006:3000
  unodemy:
    build: ./ui/unodemy
    ports:
      - 3008:3000
